<%= form_for(@teacher_sign) do |f| %>
  <% if @teacher_sign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_sign.errors.count, "error") %> prohibited this teacher_sign from being saved:</h2>

      <ul>
      <% @teacher_sign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "教师姓名" %><br>
    <%= f.text_field :teacher_name %>
  </div>
  <div class="field">
    <%= f.label "课程名称" %><br>
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.label "签到日期" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
